<app-hero class="container-fluid hero pt-5"></app-hero>

<app-about id="about-us" class="about d-block text-justify text-white"></app-about>
<app-about-lego id="lego-pc" class="about-lego d-block"></app-about-lego>
<app-customize class="d-block overflow-hidden"></app-customize>
<app-multi-workstation id="multistation" class="multi-workstation d-block p-5"></app-multi-workstation>
<app-multiplay id="multiplay" class="multiplay d-block p-5"></app-multiplay>
<app-contact-form id="contact" class="contact text-center d-block p-5"></app-contact-form>
<app-footer class="footer d-block text-center p-3"></app-footer>