<app-hero class="container-fluid hero"></app-hero>

<app-about class="section about d-block text-justify text-white"></app-about>
<app-about-lego class="section about-lego d-block"></app-about-lego>
<app-customize class="d-block"></app-customize>
<app-multi-workstation class="section multi-workstation d-block"></app-multi-workstation>
<app-multiplay class="section multiplay d-block"></app-multiplay>
<app-contact-form class="section contact text-center d-block"></app-contact-form>
<app-footer class="footer d-block text-center p-3"></app-footer>