<div class="col-lg-10 mx-auto p-5">
    <h2>About us</h2>
    <p class="m-0">The GODERE company was founded in 2015. The company focuses on designing and producing High-class PC with cases made out of Lego –  Lego Computer. We assemble our workstations from scratch in order to provide our clients with  unique, original  pieces. The GODERE products are designed for computer enthusiasts who are looking for customized and High Performance devices who have a futuristic touch thanks to the use of Lego bricks.</p>
</div>