<div class="col-lg-10 mx-auto p-5">
    <h2 class="my-5">O firmie GODERE</h2>
    <p class="m-0 mb-5">Marka GODERE powstała w 2015 roku. GODERE zajmuje się projektowaniem oraz budowaniem komputerów PC klasy premium w obudowie z klocków Lego – Lego PC. Budujemy od podstaw stacje robocze na potrzeby indywidualne klientów, którzy chcą posiadać unikatowy egzemplarz. Lego PC budujemy specjalnie dla miłośników i entuzjastów komputerów PC, którzy szukają spersonalizowanych, wydajnych urządzeń w futurystycznej obudowie z zbudowanej z klocków Lego.</p>
</div>