<div class="col-10 m-auto text-center">
  <h2>Multi-workstation system</h2>
  <p class="text-justify">Lego Computer can be used in the Multi-station system. The system enables the use of a workstation as a central unit. You can create up to 6 positions in your home. Separate stations allow you to use the central unit in the best possible way. Users can work, watch movies, play games, browse the internet at one time in different rooms without any compromise. An efficient central unit can cope with the most demanding tasks. The system can be implemented as early as at the construction design stage of an apartment or house (non ho capito questa frase). You only need to choose the location of the central unit and the number of positions in the system. Proper operation of the Multi-station system requires appropriate HDMI cabling (image, sound) USB (keyboard, mouse, USB flash drive, printer, DVD-ROM, external drive, phone, USB hub in the monitor, etc.).</p>
</div>

<div class="text-center">
  <img src="./assets/img/multiworkstation.jpg" alt="Multiworkstation system">
  <h2>A multi-station system can bring you many benefits:</h2>

  <mat-list>
      <mat-list-item *ngFor="let item of advantages">
        <mat-icon matListItemIcon>done</mat-icon>
        <div matListItemTitle>{{item}}</div>
      </mat-list-item>
  </mat-list>
</div>
