<div class="section row customize">
    <h2 class="mat-title">Customize your Lego PC basing on your needs. Choose:</h2>

    <mat-list class="col mat-typography text-white">
        <mat-icon class="mat-icon--big">settings</mat-icon>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>Size and shape of the Lego-made case</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>color of LEGO bricks</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>the material of the Lego PC motherboard (steel, aluminum, acrylic glass-PMMA)</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>computer components available on the market</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>arrangement of components</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>cooling components (water, air, combined cooling)</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>way of starting the computer (wireless, button, combined)</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>optimal computer noise (dB)</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>additional backlight</div></mat-list-item>
    </mat-list>

    <mat-list class="col mat-typography">
        <mat-icon class="mat-icon--big">usb</mat-icon>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>number of USB ports</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>location of USB ports in the housing made of Lego blocks</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>location of the audio connector: microphone input / headphone audio output</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>location of the graphics card connectors (HDMI, mini-HDMI, Displayport, DVI-I)</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>location of the induction charging of the telephone</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>10 ”LCD panel displaying information about the computer's operating parameters</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>adding controllers (pads, steering wheel, joystick)</div></mat-list-item>
    </mat-list>

    <mat-list class="col mat-typography">
        <mat-icon class="mat-icon--big">hub</mat-icon>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>purpose of the computer: one off Lego case computer / Multi-workstation</div></mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>done</mat-icon><div matListItemTitle>number of required positions</div></mat-list-item>
    </mat-list>

</div>
