<h2 class="mat-title mat-h2">Customize your Lego PC basing on your needs. Choose:</h2>
<div class="mat-typography">
    <mat-icon>settings</mat-icon>
    <ul>
        <li>Size and shape of the Lego-made case</li>
        <li>color of LEGO bricks</li>
        <li>the material of the Lego PC motherboard (steel, aluminum, acrylic glass-PMMA)</li>
        <li>computer components available on the market</li>
        <li>arrangement of components</li>
        <li>cooling components (water, air, combined cooling)</li>
        <li>way of starting the computer (wireless, button, combined)</li>
        <li>optimal computer noise (dB)</li>
        <li>additional backlight</li>
    </ul>
</div>
<div>
    <mat-icon>usb</mat-icon>
    <ul>
        <li>number of USB ports</li>
        <li>location of USB ports in the housing made of Lego blocks</li>
        <li>location of the audio connector: microphone input / headphone audio output</li>
        <li>location of the graphics card connectors (HDMI, mini-HDMI, Displayport, DVI-I)</li>
        <li>location of the induction charging of the telephone</li>
        <li>10 ”LCD panel displaying information about the computer's operating parameters</li>
        <li>adding controllers (pads, steering wheel, joystick)</li>
    </ul>
</div>
<div>
    <mat-icon>hub</mat-icon>
    <ul>
        <li>purpose of the computer: one off Lego case computer / Multi-workstation</li>
        <li>number of required positions</li>
    </ul>
</div>
