<div class="container-fluid">
  <div class="row grond-black p-5 text-center">
    <h2 id="start">GROND PC / Black Edition</h2>
    <img class="col-md" src="./assets/img/left.png" alt="Demo images of Grond Black">
    <p class="col-md text-white my-5">
        Grond PC Black Edition was a huge challenge for us. It is a premium computer that combined the uniqueness of the case with the latest technologies. Grond PC has been designed for advanced and demanding users. Adequate performance for gaming, 3D design, FEM analysis, in original Lego housing. Used every day in the Multi – split system, it helps the family work from home and provides entertainment in the highest 4K resolution.
    </p>
    <img class="col-md" src="./assets/img/right.png" alt="Demo images of Grond Black">
  </div>
  <div class="row bg-light p-5">
      <img class="triptic" src="./assets/img/super-computers.png" alt="Demo images of Grond Black">
      <h2 class="text-center my-5">Unlimited power in 1500+ LEGO bricks</h2>
      <p class="col-md-6 mx-auto mb-5"><span class="mat-body-strong">Grond PC <em>Black edition</em></span> was built from over 1500 Lego bricks . We distanced ourselves from the building of standard computers to embrace custom-built ones that have a modern housing and a very unique touch. The unique design allows the housing to be adapted to the needs of the customer and enables the configuration of the selected hardware. The fascinating form combined with the most modern components available on the market, stimulates the imagination and creates a huge range of possibilities when designing Lego Computers.</p>
  </div>

  <div class="row">
      <img src="./assets/img/custom-pc.jpg" class="col-lg-6 p-0">
      <img src="./assets/img/custom-pc-builder.jpg" class="col-lg-6 p-0">
  </div>
  <div class="row p-5">
    <img src="./assets/img/gallery/2.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/8.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/7.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/6.jpg" alt="Images of Grond Black" class="col-md-3">
  </div>
  <div class="row mx-auto">
    <img src="./assets/img/gallery/3.jpg" alt="Images of Grond Black" class="col-md-4">
    <img src="./assets/img/gallery/4.jpg" alt="Images of Grond Black" class="col-md-4">
    <img src="./assets/img/gallery/5.jpg" alt="Images of Grond Black" class="col-md-4">
  </div>

  <div class="row p-5 d-flex align-items-center">
    <div id="carouselExampleControls" class="carousel col-md-4 slide" data-bs-ride="carousel">
      <div class="carousel-inner" *ngFor="let n of images">
        <div class="carousel-item active" data-bs-interval="5000">
          <img [src]="['./assets/img/components/lego-pc-components-' + n + '-480x480.jpg']" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <mat-list class="col-md-8 mat-typography">
      <h2 class="my-5">Technical specifications</h2>
      <mat-list-item *ngFor="let item of componentList" class="mb-5"><mat-icon matListItemIcon>check_circle_outline</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>

  <div class="row p-5 water-cooling">
    <h2 class="my-5">Water Cooling</h2>
    <mat-list class="col-md-6 lh-sm">
      <mat-list-item *ngFor="let item of coolingCol1" class="mb-5"><mat-icon matListItemIcon>wind_power</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <mat-list class="col-md-6 lh-sm">
      <mat-list-item *ngFor="let item of coolingCol2" class="mb-5"><mat-icon matListItemIcon>wind_power</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>

  <div class="row p-5 water-cooling-system">
    <h2 class="my-5">Water Cooling System</h2>
    <mat-list class="col-md-8 lh-sm">
      <mat-list-item *ngFor="let item of coolingSystemList" class="mb-5"><mat-icon matListItemIcon>air</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <img class="col-md-4" src="./assets/img/cooling.png">
  </div>

  <div class="row p-5 subcomponents">
    <mat-list class="col-md-4 mat-typography">
      <h2 class="my-5">Sub-components</h2>
      <mat-list-item *ngFor="let item of coolingComponentsCol1"><mat-icon matListItemIcon>memory</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <mat-list class="col-md-4 mat-typography">
      <h2 class="my-5">Additional items</h2>
      <mat-list-item *ngFor="let item of coolingComponentsCol2"><mat-icon matListItemIcon>memory</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>
</div>