<div class="container-fluid">
  <div class="row grond-black p-5 text-center">
    <h2 id="start">GROND PC / Black Edition</h2>
    <img class="col-md" src="./assets/img/left.png" alt="Demo images of Grond Black">
    <p class="col-md text-white my-5">Grond PC Black Edition był dla nas ogromnym wyzwaniem. To komputer klasy premium, który połączył oryginalność obudowy razem z najnowszymi technologiami. Grond PC został zaprojektowany dla zaawansowanych i wymagających użytkowników. Odpowiednia wydajność do grania, projektowania 3D, analizy MES, w oryginalnej obudowie z klocków Lego. Wykorzystywany na co dzień w systemie Multi – split pomaga rodzinie pracować w domu oraz dostarcza rozrywkę w najwyższej rozdzielczości 4K.</p>
    <img class="col-md" src="./assets/img/right.png" alt="Demo images of Grond Black">
  </div>
  <div class="row bg-light p-5">
      <img class="triptic" src="./assets/img/super-computers.png" alt="Demo images of Grond Black">
      <h2 class="text-center my-5">Nieograniczona moc w 1500+ klockach LEGO</h2>
      <p class="col-md-6 mx-auto mb-5"><span class="mat-body-strong">Grond PC <em>Black edition</em></span> został zbudowany z <span class="mat-body-strong">ponad 1500 klocków Lego</span>. Odstąpienie od standardowych zasad budowy komputera PC pozwoliło na stworzenie nowoczesnej obudowy oraz nadanie jej wyjątkowego charakteru. <span class="mat-body-strong">Unikalny design</span> umożliwia dostosowanie obudowy do <span class="mat-body-strong">indywidualnych potrzeb i wybranej konfiguracji sprzętowej</span>. Fascynująca, odbiegająca od klasycznej konstrukcji forma w połączeniu z najnowocześniejszymi dostępnymi na rynku podzespołami działa na wyobraźnię i stwarza ogromny wachlarz możliwości podczas projektowania Lego PC.</p>
  </div>

  <div class="row">
      <img src="./assets/img/custom-pc.jpg" class="col-lg-6 p-0">
      <img src="./assets/img/custom-pc-builder.jpg" class="col-lg-6 p-0">
  </div>
  <div class="row p-5">
    <img src="./assets/img/gallery/2.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/8.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/7.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="./assets/img/gallery/6.jpg" alt="Images of Grond Black" class="col-md-3">
  </div>
  <div class="row mx-auto">
    <img src="./assets/img/gallery/3.jpg" alt="Images of Grond Black" class="col-md-4">
    <img src="./assets/img/gallery/4.jpg" alt="Images of Grond Black" class="col-md-4">
    <img src="./assets/img/gallery/5.jpg" alt="Images of Grond Black" class="col-md-4">
  </div>

  <div class="row p-5 d-flex align-items-center">
    <div id="carouselExampleControls" class="carousel col-md-4 slide" data-bs-ride="carousel">
      <div class="carousel-inner" *ngFor="let n of images">
        <div class="carousel-item active" data-bs-interval="5000">
          <img [src]="['./assets/img/components/lego-pc-components-' + n + '-480x480.jpg']" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <mat-list class="col-md-8 mat-typography">
      <h2 class="my-5">Specyfikacja techniczna</h2>
      <mat-list-item *ngFor="let item of componentList" class="mb-5"><mat-icon matListItemIcon>check_circle_outline</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>

  <div class="row p-5 water-cooling">
    <h2 class="my-5">Chłodzenie wodne</h2>
    <mat-list class="col-md-6 lh-sm">
      <mat-list-item *ngFor="let item of coolingCol1" class="mb-5"><mat-icon matListItemIcon>wind_power</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <mat-list class="col-md-6 lh-sm">
      <mat-list-item *ngFor="let item of coolingCol2" class="mb-5"><mat-icon matListItemIcon>wind_power</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>

  <div class="row p-5 water-cooling-system">
    <h2 class="my-5">System chłodzenia wodnego</h2>
    <p>Aby zwiększyć jego potencjał oraz możliwości zainstalowaliśmy chłodzenie wodne, które pozwoli na:</p>
    <mat-list class="col-md-8 lh-sm">
      <mat-list-item *ngFor="let item of coolingSystemList" class="mb-5"><mat-icon matListItemIcon>air</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <img class="col-md-4" src="./assets/img/cooling.png">
  </div>

  <div class="row p-5 subcomponents">
    <mat-list class="col-md-6 mat-typography">
      <h2 class="my-5">Elementów</h2>
      <mat-list-item *ngFor="let item of coolingComponentsCol1"><mat-icon matListItemIcon>memory</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
    <mat-list class="col-md-6 mat-typography">
      <h2 class="my-5">Dodaktowe elementy</h2>
      <mat-list-item *ngFor="let item of coolingComponentsCol2"><mat-icon matListItemIcon>memory</mat-icon><div matListItemTitle>{{item}}</div></mat-list-item>
    </mat-list>
  </div>
</div>