<div class="row grond-black p-5 text-center">
    <h2>GROND PC / Black Edition</h2>
    <img class="col-md" src="../../../../assets/img/left.png" alt="Demo images of Grond Black">
    <p class="col-md text-white">
        Grond PC Black Edition was a huge challenge for us. It is a premium computer that combined the uniqueness of the case with the latest technologies. Grond PC has been designed for advanced and demanding users. Adequate performance for gaming, 3D design, FEM analysis, in original Lego housing. Used every day in the Multi – split system, it helps the family work from home and provides entertainment in the highest 4K resolution.
    </p>
    <img class="col-md" src="../../../../assets/img/right.png" alt="Demo images of Grond Black">
</div>
<div class="row bg-light">
    <img class="triptic" src="../../../../assets/img/super-computers.png" alt="Demo images of Grond Black">
    <h2 class="text-center my-5">Unlimited power in 1500+ LEGO bricks</h2>
    <p class="col-md-6 mx-auto mb-5"><span class="mat-body-strong">Grond PC <em>Black edition</em></span> was built from over 1500 Lego bricks . We distanced ourselves from the building of standard computers to embrace custom-built ones that have a modern housing and a very unique touch. The unique design allows the housing to be adapted to the needs of the customer and enables the configuration of the selected hardware. The fascinating form combined with the most modern components available on the market, stimulates the imagination and creates a huge range of possibilities when designing Lego Computers.</p>
</div>
<div class="row">
    <img src="../../../../assets/img/custom-pc.jpg" class="col-lg-6 p-0">
    <img src="../../../../assets/img/custom-pc-builder.jpg" class="col-lg-6 p-0">
</div>
<div class="row p-5">
    <img src="../../../../assets/img/gallery/1.png" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/2.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/3.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/4.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/5.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/6.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/7.jpg" alt="Images of Grond Black" class="col-md-3">
    <img src="../../../../assets/img/gallery/8.jpg" alt="Images of Grond Black" class="col-md-3">
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>