<div class="col-lg-6 mx-auto p-5">
    <h2 class="my-5">About Lego PC</h2>
    <p>The term Lego Computer defines a type of personal computer whose structure consists of a motherboard and a <span class="mat-body-strong">Lego-made</span> computer case. The main frame can be made out of steel,aluminum or acrylic glass (PMMA). Each motherboard tool is individually designed. The way all components are fixed to the motherboard and the case enables the easy sostitution,upgrading,maintaining and repairing of your <span class="mat-body-strong">Lego Computer</span>. The Lego bricks are used to enclose the motherboard and build special pluggings for your personalized Lego Computer. Depending on the advancing of the device, it can be a module for <span class="mat-body-strong">HDD, SDD, Blue-ray unit, water cooling pump, cooling devices, automatic cooling system</span> etc.</p>
    <button routerLink="/works" fragment="start" class="my-5" mat-button color="accent">
        <a href="works#start">See our last work</a>
    </button>
</div>