<div class="col-lg-6 mx-auto p-5">
    <h2 class="my-5">O Lego PC</h2>
    <p>Lego PC jest określeniem rodzaju komputera osobistego zbudowanego na ramie głównej oraz obudową z<span class="mat-body-strong">klocków LEGO</span>. Rama główna wykonana jest z profilów stalowych, aluminiowych lub szkła akrylowego (PMMA). Każdy kształt ramy, <span class="mat-body-strong">dla każdego Lego PC, jest zaprojektowany indywidualnie</span>. Wszystkie podzespoły zamocowane są do obudowy oraz ramy umożliwiając ich wymianę, modernizację, konserwację lub naprawę. <span class="mat-body-strong">Klocki LEGO</span> służą do obudowania ramy oraz zbudowania specjalnych modułów (komór), które są wykorzystywane w Lego PC. W zależności od zaawansowania urządzenia może to być moduł do <span class="mat-body-strong">dysków HDD, SSD, Blu-ray, pompy wody, chłodnic, automatyki układu chłodzenia etc.</span></p>
    <button routerLink="/works" fragment="start" class="my-5" mat-button color="accent">
        <a href="works#start">Zobacz realizacje</a>
    </button>
</div>