<div class="row d-flex p-5 align-items-center justify-content-between">
    <div class="col-md">
        <h1>Custom pc cases built on the top of LEGO pieces</h1>
        <img class="signature" width="200" src="./assets/img/signature.png" alt="CEO's signature" draggable="false">
    </div>

    <div class="col-md">
        <img class="pc" src="./assets/img/pc.png" alt="sample work" draggable="false">
        
        <div class='wrap'>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
            <div class='c'></div>
        </div>
        
    </div>

</div>

<img  class="dyno d-none d-lg-block" src="./assets/img/dyno.png" alt="dyno" draggable="false">