h1 {
    font-size: 70px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    float: left;
    max-width: 30%;
    line-height: 80px;;
}

.dyno {
    float: right;
    position: relative;
    right: -20rem;
}

.pc {
    position: absolute;
    z-index: 9;
    right: 25rem;
    bottom: 0;
    width: 500px;
}