<mat-toolbar color="primary" class="menu">
    <img src="./assets/img/logo.png" width="190" height="50" alt="Godere logo" draggable="false">
    <span class="spacer"></span>
    <button [matMenuTriggerFor]="menu" mat-icon-button color="accent" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a href="#about-us" mat-menu-item>About Us</a>
        <a href="#lego-pc" mat-menu-item>Lego Pc</a>
        <a href="#multistation" mat-menu-item>Multi Workstation System</a>
        <a href="#multiplay" mat-menu-item>Multiplay</a>
        <a routerLink="/works" mat-menu-item>Works</a>
        <a href="#contact" mat-menu-item>Contact</a>
        <a href="https://godere.pl" mat-menu-item>Polski</a>
    </mat-menu>
</mat-toolbar>