// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define Typography

$my-typography: mat.define-typography-config(
  $title: mat.define-typography-level(
    $font-family: Kanit,
    $font-weight: 500,
    $font-size: 7rem,
    $line-height: 1,
    $letter-spacing: normal,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette(mat.$grey-palette, 900);
$accent: mat.define-palette(mat.$red-palette, A400);
// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$godere-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: $my-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($godere-theme);
@include mat.button-typography($my-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}