// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define Typography

$my-typography: mat.define-typography-config(
  $font-family: 'Exo',
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 700, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 700, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 700),
  $headline: mat.define-typography-level(52px, 70px, 700),
  $title: mat.define-typography-level(48px, 52px, 300),
  $body-1: mat.define-typography-level(
    $font-family: 'Exo',
    $font-weight: 300,
    $font-size: 18px,
    $line-height: 1.5,
    $letter-spacing: normal,
  ),
  $body-2: mat.define-typography-level(18px, 1.5, 700),
  $button: mat.define-typography-level(18px, 21px, 300),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette(mat.$grey-palette, 900);
$accent: mat.define-palette(mat.$red-palette, A400);
// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$godere-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: $my-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($godere-theme);
// Enable typography for single components
// @include mat.button-typography($my-typography);
// Or for all at once
@include mat.all-component-typographies($my-typography);

/* You can add global styles to this file, and also import other style files */

// VARIABLES
$color-primary: #ff1744;

// COLOR
h1, h2, h3, h4 {
  color: $color-primary;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: $color-primary;
}
::selection {
  color: white;
  background: $color-primary;
}
.mat-body-strong .mat-body-2 {
  color: $color-primary;
}

// SECTIONS
.hero {
  display: flex;
  background: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.about, .grond-black {
  background: url(./assets/img/bg-black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.grond-black {
  background-position: bottom;
  align-items: center;
  & + div .triptic {
    margin-top: -5rem;
  }
}
.about-lego {
  background: url(./assets/img/bg-designer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.customize {
  background: #222;
  background: url(./assets/img/bg-black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  .mat-list-item {
    line-height: 1;
    color: white;
  }
}
.multi-workstation {
  img {
    max-width: 100%;
  }
  .mat-list-item {
    line-height: 1;
  }
  .mat-icon {
    color: $color-primary;
    margin-right: 5px;
  }
}
.multiplay {
  @media screen and (min-width: 768px) {
    background: url(./assets/img/bg-multiplay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    min-height: 640px;
  }
  @media screen and (min-width: 992px) {
    background-position-x: right;
  }
}
.contact {
  background: url(./assets/img/bg-red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  a,
  a:focus,
  a:focus-visible,
  a:active,
  a:visited {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
}
.footer {
  background: #232323;
}
.water-cooling {
  background: url(./assets/img/bg-ice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.water-cooling-system {
  img {
    height: 100%;
  }
}
.subcomponents {
  background: url(./assets/img/bg-tech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .mat-list-item-content {
    color: white;
  }
}

// UI
button.mat-button {
  padding: 10px 25px;
  border: 2px solid $color-primary;
  transition: all 1s;
  &:hover {
    background: $color-primary;
    color: white;
    a,
    a:focus,
    a:focus-visible,
    a:active,
    a:visited {
      color: white;
    }
  }
  a,
  a:focus,
  a:focus-visible,
  a:active,
  a:visited {
    color: $color-primary;
    text-decoration: none;
  }
  
}
.spacer {
  flex: 1 1 auto;
}
.mat-icon-button {
  position: relative;
  z-index: 1;
}
// Menu
.mat-menu-panel {
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.8);
  .mat-menu-content {
    a,
    a:focus,
    a:focus-visible,
    a:active,
    a:visited {
      color: $color-primary;
      text-transform: uppercase;
    }
    a:hover {
      background: $color-primary;
      color: white;
    }
  }
}
.mat-icon {
  margin-right: 5px;
  color: $color-primary;
}
.mat-icon--big {
  height: 70px;
  width: 70px;
  font-size: 70px;
  margin-bottom: 10px;
  color: $color-primary;
}

// Scrollbar
html {
  scrollbar-color: $color-primary rgba(0,0,0, 0.1);
  scrollbar-width: 3rem;
}
